*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header-container{
    padding: 25px;
    display: flex;
    align-items: center;
    background-color: #f9f8f8;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a h1{
    color: black;
    margin-left: 30px;
}
.header-titles-container{
    display: flex;
    gap:20px;
}
.header-titles-row{
    display: flex;
    gap:20px;
}
.header-titles-row a{
    color:grey;  
}
.header-titles-row a:hover{
    color: black;
}
.headerButtons{
    display: flex;
    gap:10px;
}
.header-buttons, .lp-buttons{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: inline-flex;
    gap: 10px;
    font-size: 15px;
    cursor: pointer;
}
.header-buttons:hover , .lp-buttons:hover{
    background-color: black;
    color: white;
}
.banner-image{
    margin-left: 19px;
    border-radius: 5px;
    margin-bottom: 30px;
}
figure{
    position: relative;
}
.figcaptionOne{
    position: absolute;
    top: 38%;
    left: 8%;
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
}
.figcaptionTwo{
    position: absolute;
    top:46%;
    left:8%;
    color:#fff;
    font-weight: lighter;
    font-size: 20px;
}
.lp-title{
    text-align: center;
    font-weight: lighter; 
    margin-bottom: 30px;  
}
.lprod-title{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 80px;
    margin-bottom: 10px;
}
 .lp-title-hr, .login-title-hr{
    position: relative;
    width: 94%;
    left: 44px;
    margin-bottom: 70px;
}
.lpButtons{
    text-align: center;
    margin-bottom: 30px;
}
.lp-container{
    position: relative;
    margin: 30px;
}
.lp-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px 0px;
}
.card{
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2;
}
.card img{
    width: 350px;
    height:350px;
    padding: 10px;
}
.card-title{
    font-size: 20px;
}
.card-price{
    font-size: 20px;
    font-weight: lighter;
}
.btnOne button, .btnTwo button{
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 17px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
}
.❤️{
    text-align: center;
    margin-bottom: 150px;
}
.login-title{
    text-align: center;
    font-weight: lighter; 
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 40px;
}
#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: fit-content;
    position: relative;
    left: 50%;
}
label, #login-new{
    align-self: flex-start;
    position: relative;
    left:-74px;
}
#email, #password , #fullName{
    padding: 10px;
    text-align: left;
    width: 180%;
    border-radius: 4px;
    border: 2px solid rgb(196, 194, 194)
}
#email:focus, #password:focus, #fullName:focus{
    border: 3px solid rgb(69, 69, 254) !important;
    outline: none;
}
#login-new a{
    text-decoration: underline;
}
#login-button{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(94, 93, 93);
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#cartContainer{
    background-color: #f9f8f8;
    padding: 20px;
    width: 95%;
    height: 50vh;
    position: relative;
    left: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
#opTitle{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 30px;
}
#cartTitle{
    position: absolute;
    top:30%;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
}
#cartButton{
    position: absolute;
    top:60%;
    left:43%;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
}
.op-title-hr{
    position: relative;
    width: 94%;
    left: 44px;
    margin-bottom: 20px;
}
#cardContainer{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.cardOne{
    border: 1px solid;
    width: fit-content;
    border-color: #a8a4a4;
    border-radius: 4px;
}
.card-tittle{
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
.about-us{
    text-align: justify;
    margin: 50px;
    font-weight: lighter;
    font-size: 20px;
  
}


