*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header-container{
    padding: 25px;
    display: flex;
    align-items: center;
    background-color: #f9f8f8;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a h1{
    color: black;
    margin-left: 30px;
}
.header-titles-container{
    display: flex;
    gap:20px;
}
.header-titles-row{
    display: flex;
    gap:20px;
}
.header-titles-row a{
    color:grey;  
}
.header-titles-row a:hover{
    color: black;
}
.headerButtons{
    display: flex;
    gap:10px;
}
a button{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: inline-flex;
    gap: 10px;
}
.banner-image{
    margin-left: 19px;
    border-radius: 5px;
    margin-bottom: 30px;
}
figure{
    position: relative;
}
.figcaptionOne{
    position: absolute;
    top: 38%;
    left: 8%;
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
}
.figcaptionTwo{
    position: absolute;
    top:46%;
    left:8%;
    color:#fff;
    font-weight: lighter;
    font-size: 20px;
}
.lp-title{
 text-align: center;
 font-weight: lighter; 
 margin-bottom: 10px;  
}
/* .card{
    border: 1px solid black;
    width: fit-content;
} */
.card img{
    width:150px;
    height:150px;
}
